In [1]:
#Program to print the all the numbers from 1 to 10 using for loop.

for items in range(1,11):
    print(items)

1
2
3
4
5
6
7
8
9
10

In [1]:
#Program to find the sum of all numbers from 1 to 100 using for loop.
sum = 0
for item in range(1,101):
    sum += item
    print("sum of all numbers",sum)

sum of all numbers 1
sum of all numbers 3
sum of all numbers 6
sum of all numbers 10
sum of all numbers 15
sum of all numbers 21
sum of all numbers 28
sum of all numbers 36
sum of all numbers 45
sum of all numbers 55
sum of all numbers 66
sum of all numbers 78
sum of all numbers 91
sum of all numbers 105
sum of all numbers 120
sum of all numbers 136
sum of all numbers 153
sum of all numbers 171
sum of all numbers 190
sum of all numbers 210
sum of all numbers 231
sum of all numbers 253
sum of all numbers 276
sum of all numbers 300
sum of all numbers 325
sum of all numbers 351
sum of all numbers 378
sum of all numbers 406
sum of all numbers 435
sum of all numbers 465
sum of all numbers 496
sum of all numbers 528
sum of all numbers 561
sum of all numbers 595
sum of all numbers 630
sum of all numbers 666
sum of all numbers 703
sum of all numbers 741
sum of all numbers 780
sum of all numbers 820
sum of all numbers 861
sum of all numbers 903
sum of all numbers 946
sum of all numbers 990
sum of all numbers 1035
sum of all numbers 1081
sum of all numbers 1128
sum of all numbers 1176
sum of all numbers 1225
sum of all numbers 1275
sum of all numbers 1326
sum of all numbers 1378
sum of all numbers 1431
sum of all numbers 1485
sum of all numbers 1540
sum of all numbers 1596
sum of all numbers 1653
sum of all numbers 1711
sum of all numbers 1770
sum of all numbers 1830
sum of all numbers 1891
sum of all numbers 1953
sum of all numbers 2016
sum of all numbers 2080
sum of all numbers 2145
sum of all numbers 2211
sum of all numbers 2278
sum of all numbers 2346
sum of all numbers 2415
sum of all numbers 2485
sum of all numbers 2556
sum of all numbers 2628
sum of all numbers 2701
sum of all numbers 2775
sum of all numbers 2850
sum of all numbers 2926
sum of all numbers 3003
sum of all numbers 3081
sum of all numbers 3160
sum of all numbers 3240
sum of all numbers 3321
sum of all numbers 3403
sum of all numbers 3486
sum of all numbers 3570
sum of all numbers 3655
sum of all numbers 3741
sum of all numbers 3828
sum of all numbers 3916
sum of all numbers 4005
sum of all numbers 4095
sum of all numbers 4186
sum of all numbers 4278
sum of all numbers 4371
sum of all numbers 4465
sum of all numbers 4560
sum of all numbers 4656
sum of all numbers 4753
sum of all numbers 4851
sum of all numbers 4950
sum of all numbers 5050

In [3]:
#Program to print the multiplication table of given number using for loop.

num =int(input("enter value"))
print("multiplication table:")

for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter value 9

multiplication table:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [3]:
#Program to count the numbers of even and odd numbers from a series of numbers using a for loop.

series = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
count_even_no = 0
count_odd_no = 0


for item in series:
    if item % 2 == 0:
       count_even_no += 1
    else:
        count_odd_no += 1

print("even no",count_even_no)
print("odd no",count_odd_no)

even no 7
odd no 8

In [5]:
#Program to find the factorial of a number using for loop.

number = int(input("Enter number"))
factorial = 1
for items in range(1,number +1):
    factorial *= items
    print("factorial number",factorial)

Enter number 5

factorial number 1
factorial number 2
factorial number 6
factorial number 24
factorial number 120

In [15]:
#Program to print the fibonacci sequence upto specified number using for loop.

numbers = int(input("specified number"))
num1=0
num2=1
count=0

while count < numbers:
        print(num1)
        total = num1 + num2

        num1 = num2
        num2 = total
        count+=1

specified number 10

0
1
1
2
3
5
8
13
21
34

In [94]:
#Program to check if a given number is prime or not prime for using for loop.

number = int(input("Enter a number")) 
if number >1:
  for items in range (2, number):
       if number % items == 0:
           print("It is not prime number",number)
           break
  else:
        print("It is prime number",number)

Enter a number 30

It is not prime number 30

In [39]:
#Program to find the largest element in list using for loop.

element = [1,40,3,4,25,36,7,8,9,10]
largest_element = element[0]
for items in element:
    if items > largest_element:
        largest_element = items
print("largest element",largest_element)

largest element 40

In [43]:
#Program to reverse a given string using for loop.

string = ("python")
reversed_string = ""
for char in string:
    reversed_string = char + reversed_string
print("reversed string is ",reversed_string)

reversed string is  nohtyp

In [53]:
#program to find common element between 2 list using for loop.

list1 = [1,2,3]
list2 = [4,5,1]
common_element=[]
for element in list1:
   if element in list2:

    common_element.append(element)
print("element common in both are",common_element)

element common in both are [1]